<!DOCTYPE html>
<html>
<head>
<meta contentType="application/json;charset=UTF-8" >
<title>Insert title here</title>
</head>
<body>
<h2>注册页面</h2>

<form action="http://localhost:8280/web/register" id="uploadForm"  method="post" enctype="application/json">
  用户名：<input id ="userName" type="text" name ="userName"/></br>
  密码：  <input id ="pwd" type="password" name ="pwd"/></br>
  手机号：<input id ="phoneNum" type="text" name ="phoneNum"/></br>
  <input id = "submit" type="submit" name ="submit" value="注册"/>
    
  </form>
</body>
</html>